.nav .nav-item button.active {
    background-color: #3370c5;
    color: var(--bs-danger) !important;
  }
  .nav .nav-item button.active::after {
    content: "";
    border-bottom: 4px solid var(--bs-danger);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 5px 5px 0 0;
  }
.profiless{
    color: #ffff;
}
  
  