.input-color{
    background: #f8f0f0 !important;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.card {
  position: relative;
  width: 350px;
  height: 190px;
  background: #333;
  transition: 0.5s;
}

.card:hover {
  height: 450px;
}

.card .lines {
  position: absolute;
  inset: 3px;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
  animation: animate 4s linear infinite;
}

.card .lines::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imageBox {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

.card:hover .imageBox {
  width: 250px;
  height: 250px;
}

.card .imageBox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
  animation: animate 4s linear infinite;
}

.card .imageBox::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imageBox img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  filter: grayscale(1);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imageBox img {
  filter: grayscale(0);
}


@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.card .content .details {
  width: 100%;
  text-align: center;
  transition: 0.5s;
  transform: translateY(115px);
}

.card:hover .content .details {
  transform: translateY(100px);
}

.card .content .details h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.2rem;
}

.card .content .details h2 span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}

.card .content .details .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.card .content .details .info h3 {
  font-size: 1rem;
  color: #45f3ff;
  line-height: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.card .content .details .info h3 span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.card .content .details .actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.card .content .details .actions button {
  min-width: 100px;
  padding: 10px 0;
  border: none;
  outline: none;
  background: #45f3ff;
  font-size: 1rem;
  font-weight: 500;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

.card .content .details .actions button:nth-child(2) {
  background: #fff;
}

.card .content .details .actions button:hover {
  opacity: 1;
}

.card .content .details .actions button:active {
  opacity: 1;
  transform: scale(0.98);
} */


/* body{
    font-family: Montserrat, sans-serif;
    background: #28223f;
  }
  .container{
    user-select: none;
    margin: 100px auto;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  }
  .cover-photo{
    background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
  }
  .about{
    margin-top: 35px;
    line-height: 21px;
  }
  button{
    margin: 10px 0 40px 0;
  }
  .msg-btn, .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
  }
  .follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
  }
  .follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
  }
  .container i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .container i:hover{
    color: #03bfbc;
  } */
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  }
  
/* body {
    background-color: #28223f;
    font-family: Montserrat, sans- serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;
  }  */
  
  h3 {
    margin: 10px 0;
  }
  
  h6 {
    margin: 5px 0;
    text-transform: uppercase;
  }
  
  p {
    font-size: 14px;
    line-height: 21px;
  }

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd; 
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
} 

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px; 

}

.card-container .round {
    border: 1px solid #03bfcb;
    border-radius: 50%;
    padding: 7px;
    max-height: 130px;
    max-width: 120px;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px; 
}
.skills ul {
  
 list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
  